新闻收集工作流.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -780,
        140
      ],
      "id": "7863c4ca-d45f-4037-b781-ffb678568c99",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "maxItems": 6
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "4f10bc55-7fb9-4740-9935-7655922ffd05",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "566c1ede-df27-432e-a605-ecba84e099a8",
              "name": "标题",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "46152e4b-ef50-4578-b022-c56ac97844dc",
              "name": "日期",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "485ee840-7ec6-4ee9-8349-864eb0ffe435",
              "name": "内容",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "dd30c801-2217-420e-a337-73524894b650",
              "name": "链接",
              "value": "={{ $json.guid }}",
              "type": "string"
            },
            {
              "id": "d351f227-bb81-4d39-93e8-8d24771025af",
              "name": "媒体",
              "value": "聚合网站",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        200
      ],
      "id": "8b0900ce-d661-4706-a678-db2eb79ec5ea",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:record:add",
        "body": "={\"fields\":{\n  \"标题\":\"{{ $json['标题'] }}\",\n  \"日期\":\"{{ new Date($json['日期']).toLocaleString('zh-CN', { timeZone: 'Asia/Shanghai', hour12: false }).replace(/\\//g, '-').replace(',', '') }}\",\n  \"内容\":\"{{$json['内容']\n  .replace(/<[^>]+>/g, '')\n  .replace(/[^\\p{L}\\p{N}\\s]/gu, '')\n  .replace(/[\\r\\n\\t]/g, ' ')\n}}\"\n,\n\"链接\": {\n  \"text\": \"AI新闻原文\",\n  \"link\": \"{{ $json[\"链接\"].replace(/\\n/g, \"\") }}\"\n},\n\"媒体\":\"{{ $json['媒体'] }}\"\n}}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1360,
        300
      ],
      "id": "d1386399-805b-454b-888c-10e9031bfa33",
      "name": "Feishu Node"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c12a8604-4cf6-4450-b62a-34efc6041c92",
              "name": "标题",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "41a62bce-c755-4cc2-9beb-05c33146fa8d",
              "name": "内容",
              "value": "={{ $json['content:encodedSnippet'] }}",
              "type": "string"
            },
            {
              "id": "65541a9d-7041-41ec-8b51-87cf75b76554",
              "name": "日期",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "885000e0-7cf7-45e1-8757-ced1cd54fc00",
              "name": "链接",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "3b253c13-45ff-4fbc-a12f-70e3f09c815c",
              "name": "媒体",
              "value": "国内媒体新",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "3a601911-b613-4c24-b1f3-dcd72b737690",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a6f9f45-3c11-4524-9be5-f730b56f17f3",
              "name": "标题",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "f68170aa-2ca3-4e5b-a3cd-6de9caf18bc7",
              "name": "日期",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "de78fd6b-2ee0-4d0e-9c62-7bc7fcff3f32",
              "name": "内容",
              "value": "={{ $json['content:encodedSnippet'] }}",
              "type": "string"
            },
            {
              "id": "92d70c7f-03ce-4608-bad1-41c7fae5f4a4",
              "name": "链接",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "4bccfc6b-c914-47fd-a073-049e0ab52234",
              "name": "媒体",
              "value": "腾讯科技",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        200,
        400
      ],
      "id": "10771a63-f033-4da0-bcfb-2a6ce1e1c597",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "maxItems": 6
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        0,
        600
      ],
      "id": "3f6e06df-090d-4cb3-8f55-3a3e453b3a96",
      "name": "Limit1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a45690cf-ad3c-45eb-b247-573cbeb33085",
              "name": "日期",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "6ab5382e-0ab1-4f1f-a24f-37558243d508",
              "name": "标题",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "c36ff096-9fa6-46f1-9b19-610887b9eed7",
              "name": "内容",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "8af9729f-fd49-4063-a45d-fe381ac46654",
              "name": "链接",
              "value": "={{ $json.guid }}",
              "type": "string"
            },
            {
              "id": "804fa287-05c3-497e-be0e-b7ee2e3ef13b",
              "name": "媒体",
              "value": "国内媒体量",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        600
      ],
      "id": "056f4bfd-6c58-4ea1-b5a6-f75308842aa1",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "url": "https://plink.anyfeeder.com/weixin/AI_era",
        "options": {
          "ignoreSSL": true
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "bf03cb8f-b80a-41ed-9266-7ab1ddaa5d18",
      "name": "xinzhiyuan"
    },
    {
      "parameters": {
        "url": "https://rsshub.app/aibase/news",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -220,
        200
      ],
      "id": "482192da-8fbd-4109-85b5-39d965cbe3b2",
      "name": "aibase"
    },
    {
      "parameters": {
        "url": "https://plink.anyfeeder.com/weixin/qqtech",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "id": "649d0cd5-d7be-4ec0-918d-82167d286c21",
      "name": "tengxunkeji"
    },
    {
      "parameters": {
        "url": "https://www.qbitai.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -220,
        600
      ],
      "id": "61317a99-8e8e-448e-a3e4-01aaaf89a0d2",
      "name": "liangziwei"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "a291383a-2989-4e4f-bf9a-34a46c06c3d8",
              "leftValue": "={{ new Date($json[\"日期\"]).toISOString().slice(0,10) }}\n",
              "rightValue": "={{ new Date().toISOString().slice(0,10) }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            },
            {
              "id": "04261e50-217f-4338-aa39-2bcfcb5c774e",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        520,
        340
      ],
      "id": "6c364e5d-6554-461e-9d0e-dec239caa579",
      "name": "filter_today"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        480
      ],
      "id": "f796ba00-d035-4cf0-bfd8-2a2914860e78",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=把你收到的新闻信息都整理成干净的格式，内容需要总结为摘要，以下是新闻：\n 标题 ：{{ $json['标题'] }} 内容：{{ $json['内容'] }} 日期：{{ $json['日期'] }} 链接：{{ $json['链接'] }} 媒体：{{ $json['媒体'] }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        740,
        340
      ],
      "id": "7d2e9d4b-6bdb-4c9b-96f8-baaf50899df3",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "qwen3:32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        680,
        600
      ],
      "id": "ae67744c-b3e1-43ee-8d8f-23027e1ab83c",
      "name": "Ollama Chat Model"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4899cbc9-b256-4378-b030-5ed9c4b9f491",
              "name": "日期",
              "value": "={{ $json.output['日期'] }}",
              "type": "string"
            },
            {
              "id": "55f35fb8-e5dc-4e29-be42-d04d8a5ddf38",
              "name": "内容",
              "value": "={{ $json.output['内容'] }}",
              "type": "string"
            },
            {
              "id": "7cfb38ff-e2fc-4d06-b3ca-74b6018f80f0",
              "name": "媒体",
              "value": "={{ $json.output['媒体'] }}",
              "type": "string"
            },
            {
              "id": "21625050-7ccd-48a3-834b-cab3e03f833f",
              "name": "链接",
              "value": "={{ $json.output['链接'] }}",
              "type": "string"
            },
            {
              "id": "a8acfac0-6be7-4bd7-b685-744f020dd6b6",
              "name": "标题",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        300
      ],
      "id": "f9510440-ce23-4e18-8849-9309f749f5ef",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"标题\":\"xxxx\",\n\t\"日期\": \"\",\n\t\"内容\": \"国内第一个 ai 大模型诞生了\",\n  \"媒体\":\" 国内媒体新\",\n  \"链接\":\"http://www.baidu.com\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        880,
        560
      ],
      "id": "9a1e5c7b-abd5-4c8d-810c-36f4d3a21190",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "xinzhiyuan",
            "type": "main",
            "index": 0
          },
          {
            "node": "aibase",
            "type": "main",
            "index": 0
          },
          {
            "node": "tengxunkeji",
            "type": "main",
            "index": 0
          },
          {
            "node": "liangziwei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "filter_today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "filter_today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "filter_today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "filter_today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xinzhiyuan": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aibase": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tengxunkeji": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "liangziwei": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter_today": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "xinzhiyuan",
            "type": "main",
            "index": 0
          },
          {
            "node": "aibase",
            "type": "main",
            "index": 0
          },
          {
            "node": "tengxunkeji",
            "type": "main",
            "index": 0
          },
          {
            "node": "liangziwei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Feishu Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "805573a7-879b-47ce-971f-9f0c51771559",
  "meta": {
    "instanceId": "ad8cc852b2f9363eab05c3f6abbf424a0971aff3866ea5882dfaa78f27ddca72"
  },
  "id": "maFEwIWVlvc5X9A4",
  "tags": []
}